@page "/aggiungipersona"
@using DemoBlazorApp.Shared
@using DemoBlazorApp.Shared.Models.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Nuova persona</h1>

<p>&nbsp;</p>
<EditForm Model="persona" OnValidSubmit="Create">
    <div class="row">
        <div class="col-12"><DataAnnotationsValidator />
        <ValidationSummary /></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="Cognome" class="control-label">Cognome</label>
                <InputText id="Cognome" class="form-control form-control-lg" @bind-Value="persona.Cognome" placeholder="Cognome"></InputText>
                @*<ValidationMessage For="@(() => persona.Cognome)" />*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="Nome" class="control-label">Nome</label>
                <InputText id="Nome" class="form-control form-control-lg" @bind-Value="persona.Nome" placeholder="Nome"></InputText>
                @*<ValidationMessage For="@(() => persona.Nome)" />*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="Email" class="control-label">Indirizzo Email</label>
                <InputText id="Email" class="form-control form-control-lg" @bind-Value="persona.Email" placeholder="Indirizzo Email"></InputText>
                @*<ValidationMessage For="@(() => persona.Email)" />*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="Telefono" class="control-label">Telefono</label>
                <InputText id="Telefono" class="form-control form-control-lg" @bind-Value="persona.Telefono" placeholder="Telefono"></InputText>
                @*<ValidationMessage For="@(() => persona.Telefono)" />*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-outline-primary btn-lg ml-3">Aggiungi</button>
            <button type="button" @onclick="@Cancel" class="btn btn-outline-secondary btn-lg ml-3">Annulla</button>
        </div>
    </div>
</EditForm>

@code {
    Persona persona = new Persona();

    public void Cancel()
    {
        NavigationManager.NavigateTo("/fetchpersone");
    }

    private async Task Create()
    {
        await Http.PostAsJsonAsync<Persona>("api/persone", persona);
        NavigationManager.NavigateTo("/fetchpersone");
    }
}
